<!DOCTYPE html>
	<html>
		<head>
			<title>Welcome to Slamit </title>
			<link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
			<link rel="stylesheet" href="/static/css/login/login.css">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		</head>
		<body>
			 <nav>
			    <div class="nav-wrapper">
			      <a href="#!" class="brand-logo">Slamit</a>
			      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			      <ul class="right hide-on-med-and-down">
			        <li><a href="#">Demo</a></li>
			        <li><a href="#">Demo</a></li>
			        <li><a href="#">Demo</a></li>
			        <li><a href="#">Demo</a></li>
			      </ul>
			      <ul class="side-nav" id="mobile-demo">
			        <li><a href="#">Demo</a></li>
			        <li><a href="#">Demo</a></li>
			        <li><a href="#">Demo</a></li>
			        <li><a href="#">Demo</a></li>
			      </ul>
			    </div>
			  </nav>
			  <div class= "col m12 l12 s12"> &nbsp; </div>
			  <div class= "col m12 l12 s12"> &nbsp; </div>
			  <div class="row">
			  	<div class="offset-l1 col s12 m12 l5" id="login_left">
			  		<div class="row">
		  			 	<div class= "col m12 l12 s12"> &nbsp; </div>
	  				 	<div class= "col m12 l12 s12"> &nbsp; </div>
	  				 	<div class= "col m12 l12 s12"> &nbsp; </div>
	  				 	<div class= "col m12 l12 s12"> &nbsp; </div>
			  			<div style= "border:2px dashed black; min-height:122px" id="notedpad-dashed-box" class="offset-m4 offset-l3 offset-s3 col s4 m2 l4">

			  			</div>

			  		</div>
		  		
			  	</div>
			  	<div class=" offset-l2  col s12 m12 l4" id="login_right">

		  		</div>


		  	 </div>

  			  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
			  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
			  <script type="text/javascript">
			  $(".button-collapse").sideNav();

			  </script>
		</body>
	</html>
